<h1>Public::Customers#unsubscribe</h1>
<<<<<<< HEAD
<p>Find me in app/views/customers/unsubscribe.html.erb</p>
=======
<p>Find me in app/views/public/customers/unsubscribe.html.erb</p>
>>>>>>> develop
