<p>ジャンル検索</p>
genre_render

<p>
  ようこそ、ながのCAKEへ！<br>
  このサイトでは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>

<h2>新着商品</h2>

<div>
  <div>
    画像
    <p><%= link_to "商品名", items_path %></p>
    <p>値段</p>
  </div>
</div>

<%= link_to " 全ての商品を見る", items_path %>

