<table class="table table-bordered table-sm w-25">
    <thead class="bg-secondary text-center">
        <tr>
            <th>ジャンル</th>
            <th colspan="1"></th>
        </tr>
    </thead>
    <tbody>
        <% genres.each do|genre|%>
        <tr>
            <td class="align-middle"><%= genre.name %></td>
            <td class=<%= @customer.is_active? ? 'text-success font-weight-bold' : 'text-muted font-weight-bold'><%= link_to "編集する", edit_admin_genre_path(genre.id),class: "btn btn-success w-75"%> </td>
        </tr>
        <% end %> 
    </tbody>
    
</table>