// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.bg-image {
background-image: url('/assets/images/IMG_6427.jpg');
background-size: cover;
background-position: center;
}