<h2>商品一覧（全<%= @quantity %>件）</h2>

<div>
  <% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      image
   <% end %>
    <%= item.name %>
    ¥<%= (item.price * 1.1).floor %>
  </div>
  <% end %>
</div>